<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
    <base href="/"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 20px;">
    <a th:href="@{/getUserList}">返回</a>
    <table class="table">
        <tr>
            <td style="border: 0;">
                <form class="form-horizontal" th:action="@{/addUser}" method="post">
                    <input type="hidden" name="id" th:value="${null == user ? null : user.id}"/>

                    <div class="form-group">
                        <label for="userId">用户名</label>
                        <input class="form-control" id="userId" name="userId"
                                  th:value="${null == user ? '' : user.userId}" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="userName">姓名</label>
                        <input class="form-control" id="userName" name="userName"
                               th:value="${null == user ? '' : user.userName}" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="address">地址</label>
                        <input class="form-control" id="address" name="address"
                               th:value="${null == user ? '' : user.address}" />
                    </div>
                    <br>


                    <button class="btn btn-primary btn-lg btn-block" type="submit">保存</button>

                </form>
            </td>
        </tr>
    </table>
</body>
</html>