<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
    <base href="/"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="padding: 20px;">
    <a th:href="@{/newUser}">新增</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>操作</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>地址</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user,iterStat : ${userList}">
            <td th:text="${iterStat.count}"></td>
            <td>
                <a th:href="@{/getUserById(userId=${user.userId})}">详情</a> |
                <a th:href="@{/delete(id=${user.id})}">删除</a>
            </td>
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.address}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>